{% extends 'base.html' %}

{% block title %}
Data Prestasi
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Data Prestasi {{ sekolah.nama }}</h5>

        <a href="/tambah-prestasi/" class="btn btn-primary btn-sm">
            Tambah Prestasi
        </a>
    </div>

    <div class="card-body">
        <table id="tablePrestasiOperator" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Murid</th>
                    <th>Lomba</th>
                    <th>Bidang</th>
                    <th>Tingkat</th>
                    <th>Juara</th>
                    <th>Tahun</th>
                    <th>Aksi</th>
                </tr>
            </thead>

            <tbody>
                {% for p in prestasi %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.murid.nama }}</td>
                    <td>{{ p.nama_lomba }}</td>
                    <td>{{ p.bidang_lomba }}</td>
                    <td>{{ p.tingkat }}</td>
                    <td>{{ p.juara }}</td>
                    <td>{{ p.tahun }}</td>
                    
                    <td>
                        <a href="/edit-prestasi/{{ p.id }}/" class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a
                            href="/hapus-prestasi/{{ p.id }}/"
                            class="btn btn-danger btn-sm tombol-hapus"
                        >
                            Hapus
                        </a>
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">
                        Belum ada data prestasi
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#tablePrestasiOperator').DataTable({
            pageLength: 10,
            lengthMenu: [10, 25, 50, 100]
        });
    });
    $('.tombol-hapus').on('click', function(e) {
        e.preventDefault();

        var href = $(this).attr('href');

        Swal.fire({
            title: 'Yakin hapus data?',
            text: 'Data yang sudah dihapus tidak bisa dikembalikan.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, hapus',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = href;
            }
        });
    });
</script>
{% endblock %}